version: "3.8"

services:
  audiobookbay-automated:
    image: ghcr.io/jamesry96/audiobookbay-automated:latest
    ports:
      - "5078:5078"
    container_name: audiobookbay-automated
    environment:
      - DOWNLOAD_CLIENT=${DOWNLOAD_CLIENT}
      - DL_SCHEME=${DL_SCHEME:-http}
      - DL_HOST=${DL_HOST}
      - DL_PORT=${DL_PORT}
      - DL_USERNAME=${DL_USERNAME}
      - DL_PASSWORD=${DL_PASSWORD}
      - DL_CATEGORY=${DL_CATEGORY}
      - SAVE_PATH_BASE=${SAVE_PATH_BASE}
      - NAV_LINK_NAME=${NAV_LINK_NAME}
      - NAV_LINK_URL=${NAV_LINK_URL}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - LISTEN_HOST=${LISTEN_HOST}
      - LISTEN_PORT=${LISTEN_PORT:-5078}
      - PAGE_LIMIT=${PAGE_LIMIT:-3}
      - WORKERS=${WORKERS:-4} # Configurable Gunicorn workers
      - SECRET_KEY=${SECRET_KEY} # Set this for production security!
    env_file:
      - .env
