version: "3.8"

services:
  audiobookbay-automated:
    image: ghcr.io/jamesry96/audiobookbay-automated:latest
    ports:
      - "5078:5078"
    container_name: audiobookbay-automated
    environment:
      - DOWNLOAD_CLIENT=${DOWNLOAD_CLIENT}
      - DL_HOST=${DL_HOST}
      - DL_PORT=${DL_PORT}
      - DL_USERNAME=${DL_USERNAME}
      - DL_PASSWORD=${DL_PASSWORD}
      - DL_CATEGORY=${DL_CATEGORY}
      - SAVE_PATH_BASE=${SAVE_PATH_BASE}
      - NAV_LINK_NAME=${NAV_LINK_NAME}
      - NAV_LINK_URL=${NAV_LINK_URL}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - LISTEN_HOST=${LISTEN_HOST} # Optional: Will auto-detect :: or 0.0.0.0 if left empty
      - LISTEN_PORT=${LISTEN_PORT:-5078} # Configurable port
      - PAGE_LIMIT=3 # Reduced default to prevent bans
    env_file:
      - .env
