version: "3.8"

services:
  audiobookbay-automated:
    image: ghcr.io/jamesry96/audiobookbay-automated:latest
    ports:
      - "5078:5078"
    container_name: audiobookbay-automated
    environment:
      - DL_CLIENT=${DL_CLIENT}
      - DL_SCHEME=${DL_SCHEME:-http}
      - DL_HOST=${DL_HOST}
      - DL_PORT=${DL_PORT}
      - DL_USERNAME=${DL_USERNAME}
      - DL_PASSWORD=${DL_PASSWORD}
      - DL_CATEGORY=${DL_CATEGORY:-abb-automated}
      # Note: This path must exist inside the Torrent Client's container
      - SAVE_PATH_BASE=${SAVE_PATH_BASE}
      - MAGNET_TRACKERS=${MAGNET_TRACKERS}
      - NAV_LINK_NAME=${NAV_LINK_NAME}
      - NAV_LINK_URL=${NAV_LINK_URL}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - LISTEN_HOST=${LISTEN_HOST}
      - LISTEN_PORT=${LISTEN_PORT:-5078}
      - PAGE_LIMIT=${PAGE_LIMIT:-3}
      - THREADS=${THREADS:-8}
      - SECRET_KEY=${SECRET_KEY}
      - TZ=${TZ:-UTC}
      # Optional ABS Integration
      - ABS_URL=${ABS_URL}
      - ABS_KEY=${ABS_KEY}
      - ABS_LIB=${ABS_LIB}
      # Optional Mirror Configuration
      - ABB_MIRRORS=${ABB_MIRRORS}
    # To use a local trackers file, uncomment the following line:
    # volumes:
    #   - ./trackers.json:/app/trackers.json:ro
    env_file:
      - .env
