<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#2e003e" />
        <meta name="csrf-token" content="{{ csrf_token() }}" />
        <title>{% block title %}AudiobookBay Automated{% endblock %}</title>
        <script>
            window.APP_VERSION = "{{ static_version }}";
        </script>

        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='images/favicon.ico', v=static_version) }}"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=static_version) }}" />
        {% block extra_css %}{% endblock %} {% block extra_js %}{% endblock %}
        <script src="{{ url_for('static', filename='js/actions.js', v=static_version) }}" defer></script>
    </head>

    <body>
        <div class="navbar">
            <div class="nav-container">
                <a href="{{ url_for('main.search') }}" class="nav-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="AudiobookBay Automated" />
                </a>

                <div class="nav-links">
                    <a
                        href="{{ url_for('main.search') }}"
                        class="{% if request.endpoint == 'main.search' %}active{% endif %}"
                        >Search</a
                    >
                    <a
                        href="{{ url_for('main.status') }}"
                        class="{% if request.endpoint == 'main.status' %}active{% endif %}"
                        >Status</a
                    >
                    {% if nav_link_name and nav_link_url %}
                    <a href="{{ nav_link_url }}" target="_blank">{{ nav_link_name }}</a>
                    {% endif %} {% if library_reload_enabled %}
                    <a
                        href="#"
                        onclick="
                            reloadLibrary();
                            return false;
                        "
                        >Reload Library</a
                    >
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="content">
            <div id="notification-container"></div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
